<div class="form-group">

  <label for="numismatics_issue_color" class="control-label select optional">Color</label>
  <input id="color" type="hidden" name="numismatics_issue[color]" />

  <select class="form-control select2" id="numismatics_issue_color" data-hidden="#color">
    <option selected="selected"></option>
    <% f.object.model.decorate.colors.each do |color| %>
      <option><%= color %></option>
    <% end %>
  </select>
</div>
