<div class="form-group">

  <label for="numismatics_issue_edge" class="control-label select optional">Edge</label>
  <input id="edge" type="hidden" name="numismatics_issue[edge]" />

  <select class="form-control select2" id="numismatics_issue_edge" data-hidden="#edge">
    <option selected="selected"></option>
    <% f.object.model.decorate.edges.each do |edge| %>
      <option><%= edge %></option>
    <% end %>
  </select>
</div>
